html, body{
    margin: 0;
    background-color:#9ce866;
    width: max-content;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: $font;
}
