html, body {
  margin: 0;
  background-color: #9ce866;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.link {
  text-decoration: none;
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

.link:hover {
  background: #b1f581;
}

.link:focus {
  background: #b1f581;
}

.link:active {
  background: #62b329;
  color: #b1f581;
}

p {
  line-height: 1.4;
}
